body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  margin: .5em 6em 1.5em 6em;
  padding: 1em 15em;
  background-image: url(img/bg.jpg);
  }
body > div {
  border: .1em solid #ffd24a;
  border-radius: .2em;
  background-color: white;
}

h2, h3, a {
  color: #1fabe5;
}

ul > li {
  font-weight: bold;
}
section {
  border-bottom: .25em solid #dddddd;
}
table {
  border-collapse: collapse;
}
thead {
  background-color: #1fabe5;
}
thead > tr > td {
  border: 1px solid #046c97;
  color: white;
}
td {
  border: 1px solid #1fabe5;
  padding: 1em;
}
tbody > tr > td {
  max-height: 2em;
}
td > img{
  height: 25%;
  width: 25%;
}
form {
  background-color: #dddddd;
  border-radius: .2em;
  padding: 1em;
}
.main_navigation {
  margin-top: 2em;
}
.main_navigation a {
  color: white;
  border: .1px solid white;
  border-radius: .3em;
  padding: .75em 2em;
  text-decoration: none;
}
.name {
  background-color: #ff8523;
  color: white;
  margin: 1em 1em;
  border-radius: .5em;
  padding: 1.5em;
}
.name label {
  margin: 1em;
}
.name input {
  height: 3em;
  width: 15em;
}
.city_container {
  margin: 1em;
}
.city_container label {
  font-weight: bold;
}
#bio {
  height: 15em;
  width: 60em;
}
#site_header {
  background-color: #ff8523;
  padding: 1em .5em 2em 1em;
}
#logo {
  padding: 2em 0em;
  margin-bottom: 5em;
}
#page_content {
  padding: 2em 1em;
}
#submit_button {
  border-radius: .5em;
  padding: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #1fabe5;
  border: 0;
}


/*
colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
